---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi 👋, I'm Michael Ibinola, a frontend engineer on weekdays, basketball player on weekends. I created this <a href="/blog
				">blog</a> to improve my thinking process through writing and also to learn better.
			</p>
			<p>
				My main languages are JavaScript, TypeScript.
			</p>
			<p>You can find me on <a href="https://linkedin.com/in/michaelibinola98/" target="_blank">LinkedIn</a> or send me an <a href="mailto:ibinolamichael1@gmail.com">email</a></p>
			
			<p>Currently learning and studying on</p>
			<ul>
				<li>Understanding Web Browsers</li>
				<li>Data Structures and Algorithms</li>
				<li>Frameworks Under The Hood</li>
				<li>System Design</li>
			</ul>
			<p>All my code is on <a href="https://github.com/Ibinola" target="_blank">GitHub</a></p>
		</main>
		<Footer />
	</body>
</html>
